body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1180px;
    height: 100%;
    margin: auto;
}

.header {
    height: 145px;
    background: #f7f7f7;
    border-bottom: 1px solid #8c8c8c;
}

.header__inner {
    display: flex;
    height: 100%;
}

.header__logo {
    width: 185px;
    background: #74cfb7;
    display: flex;
    justify-content: center;
    margin-right: 44px;
}

.header__logo-image {
    align-self:center;
}
.header__item {
    padding-top: 50px;
    padding-right: 20px;
}

.header__item:last-child {
    padding-right: 0;
    margin-left: auto;
}

.header__item-caption {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #000000;
}

.header__item-description {
    display: flex;
    font-size: 14px;
}
.header__logo-metro {
    margin: auto 15px auto 0;
}
.logo-metro_yellow {
    fill: #fbaa34;
}

.header__button {
    margin-left: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.search-panel {
    height: 67px;
    box-shadow: 0 10px 22px -8px rgba(0, 0, 0, 0.5);
    transition: background .2s;
}

.search-panel__inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu {
    display: flex;
}

.main-menu__item {
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    border-right: 1px solid #979797;
    cursor: pointer;
    transition: color .2s;
    color: #353f49;
}

.main-menu__item_active {
    color: #74cfb7;
}

.main-menu__item_active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 38px;
    background: #74cfb7;
    height: 4px;
    width: 100%;
}

.main-menu__item:hover {
    color: #74cfb7;
}

.main-menu__item:first-child {
    padding-left: 0;
}

.main-menu__item:last-child {
    border-right: none;
    padding-right: 0;
}

.button {
    height: 48px;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 3px 3px;
    font-size: 14px;
    color: #ffffff;
    transition: background .2s;
}

.button_blue {
    background: #079fc2;
}

.button_blue:hover {
    background: #0f7991;
}

.search-panel__btn-search {
    margin-left: auto;
    border: none;
    outline: none;
    background: transparent;
}

.search-panel__btn-search svg {
    fill: #74cfb7;
    transition: fill .2s;
}

.search-panel__btn-search:hover svg {
    fill: #03cfc8;
}

.search-panel__input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    display: none;
}

.search-panel_active-search {
    background: #f0f0f0;
}

.search-panel_active-search .search-panel__menu {
    display: none;
}

.search-panel_active-search .search-panel__input {
    display: block;
}

.line-background {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.line-background_green {
    background: #74cfb7;
    height: 4px;
}

.configuration {
    height: 419px;
    background-image: url("./img/main-top-bg.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
}

.configuration__title {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-top: 72px;
}

.search-form {
    background: #ffffff;
    height: 191px;
    margin-top: 37px;
}

.search-form__range-title {
    font-size: 14px;
    font-weight: lighter;
    padding-top: 30px;
    padding-left: 30px;
}


#slider {
    width: 200px;
}

.ui-slider {
    position: relative;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;
    height: 13px;
    background: url(../img/slider.png) no-repeat;
    cursor: pointer
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
.ui-slider-horizontal {
    height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}
.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #F00;
}
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}






.map {
    margin: 30px 0;
    height: 535px;
    background-image: url("./img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.map__card {
    display: flex;
    position: absolute;
    left: 130px;
    top: 81px;
}

.map__card-body {
    width: 306px;
    height: 373px;
    background-color: #ffffff;
    padding-left: 23px;
    padding-top: 22px;
}

.map__card-item-caption {
    font-size: 14px;
    padding-bottom: 14px;
}

.logo-metro_green {
    fill: #b1d431;
}

.map__card-item-description {
    display: flex;
    padding-bottom: 14px;
}

.card__logo-metro {
    margin-right: 5px;
}

.map__card-item-description-text {
    font-size: 13px;
    color: #4c4c4c;
}

.map__card-item-time {
    font-size: 13px;
    margin-left: 10px;
    color: #a7a7a7;
}

.map__card-item-text {
    font-size: 13px;
    color: #4c4c4c
}

.table {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 13px;
}

.table__row {
    border-bottom: 1px solid #e7e7e7;
}

.table__row td {
    padding: 8px 33px 3px 0;
}

.table__row_item {
    padding: 8px 16px 15px 0;
}

.table__row_item td {
     padding: 6px 52px 3px 0;
 }

.table__row_item td:last-child {
    padding-right: 0;
}

.table__cell_caption {
    color: #6a6a6a
}

.table__cell_description {
    color: #4c4c4c;
}

.map__table-button {
    width: 256px;
    line-height: 20px;
}

.button_shadow-green {
    box-shadow: 0 4px 10px rgba(116, 207, 186, 0.46);
}

.map-main {
    position: absolute;
    top: 46px;
    right: 47px;
    border-radius: 50%;
}

.card {
    background: #f7f7f7;
    height: 1849px;
}

.card-list__item {
    display: flex;
    padding-top: 60px;
}

.card-list__item-body {
    width: 580px;
    height: 520px;
    background: #ffffff;
    padding: 35px 53px 0 53px;
}

.card-list__item-caption {
    font-size: 24px;
    margin-bottom: 23px;
}

.card-list__item-description {
    display: flex;
    margin-bottom: 20px;
}

.card-list__item-description-text {
    font-size: 14px;
    color: #4c4c4c;
    margin-left: 7px;
}

.card-list__item-time {
    font-size: 13px;
    margin-left: 18px;
    color: #a7a7a7;
}

.card-list__item-text {
    font-size: 14px;
    color: #4c4c4c;
    margin-bottom: 25px;
}

.card-table {
    width: 100%;
    font-size: 14px;
    margin-bottom: 29px;
}

.card-table__row td {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 12px 0 3px 26px;
}

.card-table__row td:first-child {
    padding-left: 0;
}

.card-table__row td:last-child {
    border-right: none;
}

.card-table__row_item td {
    padding: 6px 52px 3px 0;
}

.card-table__row_item td:last-child {
    padding-right: 0;
}

.card-table__cell_caption {
    color: #6a6a6a;
    width: 50%;
}

.card-table__cell_description {
    border-left: 1px solid #e7e7e7;
    padding: 5px 0 5px 25px;
    width: 50%;
    color: #4c4c4c;
}

.card-table__row tr {
    border-right: 1px solid #e7e7e7;
    padding: 12px 80px 3px 26px;
}

.card-table__row tr:first-child {
    padding-left: 0;
}

.card-table__row tr:last-child {
    border: none;
}

.card-table__row_no-border {
    border: none;
}

.card-table__row_no-border .card-table__cell_caption,
.card-table__row_no-border .card-table__cell_description {
    border-bottom: none;
}


.card__tags {
    display: flex;
    justify-content: space-between;
}

.card__tag {
    margin-right: 6px;
}

.tag {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 11px;
    background: #f7f7f7;
    border-radius: 4px;
    color: #079fc2;
}

.tag__icon {
    width: 15px;
    height: 15px;
}

.tag__description {
    padding-left: 11px;
}

.logo-metro_blue {
    fill: #3072c4;
}

.logo-metro_grey {
    fill: #aeaeae;
}

.card-list__item-image {
    position: relative;
}

.card__button {
    position: absolute;
    bottom: 35px;
    left: 189px;
    width: 222px;
    text-transform: uppercase;
}
